
h1{
    foreground-color:#A4A400;
    background-color:#F0F0F0;
    font-family: Lucida, "Sans Unicode", Helvetica, Arial, "sans-serif";
    font: 22pt;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}
h2{
    text-align: left;
    font-size: 18pt;
     foreground-color:#A4A400;
    background-color:#F0F0F0;
    font-family: Lucida, "Sans Unicode", Helvetica, Arial, "sans-serif";
    font-weight: bold;
    text-decoration: underline;
    text-align: left;
}
b{
    font-weight: bold;
}
.bk{
    background-color:#E8DC98; 
}
body{

    font-weight: normal;
    background-color: white;
    foreground-color:#404040;
    font-size: 11pt;
   font-family: Georgia,Garamond,serif;
}
a:link {
    color: gray;
    text-decoration: underline;

}

